.about-us-container {
    padding: 20px;
  }
  
  .company-background,
  .our-mission,
  .meet-the-team,
  .our-services,
  .commitment-to-quality,
  .why-choose-arima {
    margin-bottom: 30px;
  }
  
  /* h2,
  h3 {
    color: #333;
  }
  
  p {
    color: #555;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
   */
  /* Add more styling as needed */
  