/* src/components/AirQualityComponent.css */

/* Container styles */
.air-quality-container {
  background-color: #1cf9ee9b;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

/* Title styles */
h2 {
  color: #009688;
  font-size: 24px; /* Adjust font size */
  margin-bottom: 10px; /* Add margin for spacing */
}

/* Loading and error styles */
.loading-text, .error-text {
  color: #004d40;
  font-size: 18px; /* Adjust font size */
}

/* Data styles */
.data-container {
  margin-top: 10px;
}

.data-container p {
  margin: 8px 0;
  font-size: 16px;
  color: #00796b;
}

/* Additional styling for air quality data as needed */
