/* src/components/AsteroidReport.css */

/* Container styles */
.asteroid-report-container {
  /* background-color: #eb32327f; */
  background-image: url('../data/content/asteroid.jpeg');
  border-radius: 8px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

/* NASA Logo styles */
.nasa-logo {
  max-width: 100px;
  margin-bottom: 15px;
}

/* Title styles */
h2 {
  color: #333;
}

/* Loading and error styles */
.loading-text, .error-text {
  color: #555;
}

/* Data styles */
.data-container {
  margin-top: 10px;
}

.data-container p {
  margin: 8px 0;
  font-size: 16px;
  color: #444;
}

/* Strong text styles */
.data-container strong {
  font-weight: bold;
  color: #007bff;
}
