/* src/components/Filler.css */
.filler-container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 50px auto;
  padding: 20px;
  background-color: #33c4f440;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: justify;
}

.filler-container .section {
  margin-bottom: 40px;
}

.filler-container h2 {
  color: #ffffff;
  font-size: 2em;
  margin-bottom: 10px;
}

.filler-container h3 {
  color: rgba(0, 64, 255, 0.693);
  font-size: 1.5em;
  margin-bottom: 5px;
}

.filler-container p {
  color: #ffffff;
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}
