.getting-started-container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    
  }
  
  .main-heading {
    color: #1a237e;
  }
  
  .sub-text {
    color: #424242;
  }
  
  /* Add more styling as needed */
  