/* src/styles/Services.css */
.services {
  background-color: #ffffff00;
  text-align: center;
}

.service-item {
  background-color: #ffffff3d;
  /* padding: 20px; */
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  /* margin: 0 20px; */
}

.service-item h3 {
  color: #24007a;
  shape-rendering: geometricPrecision;
}

.service-item strong {
  color: #24007a;
}


.title {
  float: left;
  text-align: left;
  margin-left: 10%;
}

.body {
  /* right: 2%; */
  float: right;
  text-align: left;
  margin-right: 10%;
}

.service-item:hover {
  transform: translateY(-2px);
}

/* Carousel Styling */
.slick-prev,
.slick-next {
  font-size: 2em;
  color: #33333300;
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

.slick-prev:hover,
.slick-next:hover {
  color: #555;
}

.slick-dots {
  bottom: -30px;
}

.slick-dots li button:before {
  font-size: 15px;
  color: #333;
}

.slick-dots li.slick-active button:before {
  color: #555;
}

ul {
  color: #ffffff;
  font-weight: bold;
}


.fancy-list {
  list-style-type: none; /* Remove default list-style */
  padding: 0; /* Remove default padding */
}

.fancy-list li {
  position: relative;
  padding-left: 25px; /* Adjust the padding to create space for the custom bullet */
}

.fancy-list li::before {
  content: "➔"; /* Unicode character for a right-pointing arrow (you can replace it with an image or another character) */
  color: #24007a;
  font-size:25px; /* Adjust the font size of the arrow */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 5px; /* Adjust the spacing between the arrow and the text */
}
