/* src/styles/Services.css */
.services {
  background-color: #ffffff00;
  text-align: center;
}

.service-item {
  background-color: #ffffff3d;
  /* padding: 20px; */
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* margin: 0 20px; */
  transition: transform 0.3s ease-in-out;
}

.service-item:hover {
  transform: translateY(-2px);
}

/* Carousel Styling */
.slick-prev,
.slick-next {
  font-size: 2em;
  color: #33333300;
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

.slick-prev:hover,
.slick-next:hover {
  color: #555;
}

.slick-dots {
  bottom: -30px;
}

.slick-dots li button:before {
  font-size: 15px;
  color: #333;
}

.slick-dots li.slick-active button:before {
  color: #555;
}
