.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* src/App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* Add the chosen font family */
  background-image: url('./data/bg/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff; /* Set default text color to white */
}

a {
  color: #ffffff; /* Set link color to white */
  text-decoration: none;
  transition: color 0.3s ease; /* Add smooth color transition on hover */
}

a:hover {
  color: #4d90fe; /* Change link color on hover */
}

h1, h2, h3 {
  color: #ffffff; /* Set heading colors to white */
}
